{% extends 'admin/base.html' %}

{% block content %}
<div class="container">
    <h1>{{ company.name }}</h1>
    <article>
        <h1>Menu Options</h1>
        <div>
            <a href="{{ url_for('add_menu', id=company.id) }}" class="btn btn-success">Add Menu Option</a>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Payload</th>
            </tr>
            </thead>
            <tbody>
            {% for menu in company.menu %}
                <tr>
                <th scope="row">{{ menu.title}}</th>
                <td>{{ menu.button_type}}</td>
                <td>{{ menu.payload}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
</div>


  
{% endblock %}